@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

main {
    width: 100%;
    display: flex;
}

aside {
    width: 70px;
    padding: 12px;
    background-color: #e4e5e9;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
}

aside i:nth-child(1) {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    background-color: #5865f2;
    border-radius: 15px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

aside img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

aside .icon i {
    width: 45px;
    height: 45px;
    background-color: white;
    color: #22a559;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

aside .icon i:hover {
    color: white;
    background-color: #22a559;
    border-radius: 18px;
}

aside img:hover {
    border-radius: 18px;
}

hr {
    width: 50%;
    border-radius: 30px;
    border: 1px solid #cdced3;
}

main .sidebar-chat {
    width: 240px;
    height: 100vh;
    background-color: #f2f3f5;
}

main .sidebar-chat .top-nav {
    width: 100%;
    padding: 10px 7px;
    border-bottom: 2px solid #d2d4d6;
}

main .sidebar-chat .top-nav input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    background-color: #e4e5e9;
    border: none;
    outline: none;
}

main .sidebar-chat .list-item svg path {
    fill: #4d5058;
}

main .sidebar-chat .list-item {
    width: 100%;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    color: #4d5058;
    position: relative;
}

main .sidebar-chat .list-item:hover {
    background-color: #d8d9dd;
    color: #060606;
    fill: #060606;
}
main .sidebar-chat .list-item:hover svg path {
    fill: #060606;
}

main .sidebar-chat .list-item.active {
    background-color: #d8d9dd;
    color: #060606;
}

main .sidebar-chat .list-item.active svg path {
    fill: #060606;
}

main .sidebar-chat .list {
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

main .sidebar-chat .list .list-item:nth-child(3) {
    background-image: url("./Assets/bg-img\ list.png");
    background-position: right;
    background-size: cover;
    position: relative;
}
main .sidebar-chat .list .list-item:nth-child(3):hover {
    backdrop-filter: grayscale(100);
}
main .sidebar-chat .list .list-item .new{
    background-color: #d9363b;
    color: white;
    border-radius: 30px;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%,-50%);
}
main .sidebar-chat .list .list-item .buy{
    background-image: linear-gradient(to right, hsl(269 calc(1 * 52.7%) 52.7% / 1), hsl(325 calc(1 * 31.7%) 51.8% / 1));
    color: white;
    border-radius: 30px;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%,-50%);
}